body {
  font-family: Arial;
  background:#f5f5f5;
  text-align:center;
  margin:0;
}

header {
  background:#111;
  color:white;
  padding:40px;
}

.btn {
  display:inline-block;
  margin:20px;
  padding:12px 20px;
  background:#6a1b9a;
  color:white;
  text-decoration:none;
  border-radius:8px;
}

.products {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.product {
  background:white;
  padding:15px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.product img {
  width:100%;
  border-radius:10px;
}

button {
  background:#6a1b9a;
  color:white;
  border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}