body {
font-family:Arial;
background:#f5f5f5;
text-align:center;
}
.product {
background:#fff;
margin:20px;
padding:15px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.1);
}
img {width:200px}
button {
background:#000;
color:#fff;
padding:10px;
border-radius:8px;
border:none;
}
.cart-btn {
position:fixed;
top:15px;
right:15px;
background:#000;
color:#fff;
padding:10px;
border-radius:20px;
text-decoration:none;
}